<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Bookkeeping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<!-- MySQL datasource resource -->
	<resource-ref>
		<description>MySQL connection datasource</description>
		<res-ref-name>jdbc/bookkeeping_application</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

<!-- Filters begin -->

	<filter>
		<filter-name>requestEncodingFilter</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>requestEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>ranian.bookkeeping.system.authentication.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>dataFlowFitler</filter-name>
		<filter-class>ranian.bookkeeping.system.dataflow.DataFlowFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>dataFlowFitler</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<!-- Filters end -->
  
  <servlet>
  	<servlet-name>queryTransServlet</servlet-name>
  	<servlet-class>ranian.bookkeeping.features.transaction.controller.QueryTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>queryTransServlet</servlet-name>
  	<url-pattern>/queryTransactionRecords</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>formSetupServlet</servlet-name>
  	<servlet-class>ranian.bookkeeping.features.transaction.controller.SetupFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>formSetupServlet</servlet-name>
  	<url-pattern>/setupAddOrEditForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addOrEditTransServlet</servlet-name>
  	<servlet-class>ranian.bookkeeping.features.transaction.controller.NewOrEditTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addOrEditTransServlet</servlet-name>
  	<url-pattern>/addOrEditTransaction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>delTransServlet</servlet-name>
  	<servlet-class>ranian.bookkeeping.features.transaction.controller.DeleteTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delTransServlet</servlet-name>
  	<url-pattern>/delTransaction</url-pattern>
  </servlet-mapping>
  
</web-app>
